# Build and package folders
node_modules
dist
coverage
false

# Different things
bundle-stats.html
tsconfig.node.tsbuildinfo
tsconfig.tsbuildinfo

# Dependency cruiser
graph.svg
graph.html
.vercel
.env*.local


# Test files
*.xlsx